@page "/page6"


<PageTitle>Page 6</PageTitle>

<h1>Ez a 6. oldal</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tristique senectus et netus et malesuada fames. Bibendum neque egestas congue quisque egestas. Id venenatis a condimentum vitae. Feugiat in ante metus dictum. Convallis convallis tellus id interdum velit laoreet. Nunc mi ipsum faucibus vitae aliquet nec. Tortor pretium viverra suspendisse potenti nullam. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Fusce ut placerat orci nulla pellentesque. Eu facilisis sed odio morbi quis commodo odio aenean. Ipsum dolor sit amet consectetur adipiscing elit duis. Id venenatis a condimentum vitae sapien pellentesque. Euismod in pellentesque massa placerat. Bibendum at varius vel pharetra vel turpis nunc eget.
</p>

<div class="content_img">
    <a href="https://en.wikipedia.org/wiki/6" target="_blank">
        <img src="./images/number6.jpg" />
    </a>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tristique senectus et netus et malesuada fames. Bibendum neque egestas congue quisque egestas. Id venenatis a condimentum vitae. Feugiat in ante metus dictum. Convallis convallis tellus id interdum velit laoreet. Nunc mi ipsum faucibus vitae aliquet nec. Tortor pretium viverra suspendisse potenti nullam. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Fusce ut placerat orci nulla pellentesque. Eu facilisis sed odio morbi quis commodo odio aenean. Ipsum dolor sit amet consectetur adipiscing elit duis. Id venenatis a condimentum vitae sapien pellentesque. Euismod in pellentesque massa placerat. Bibendum at varius vel pharetra vel turpis nunc eget.
</p>